div.banner{
  background-image: url("banner.jpg");
}
div.ahihi{
  max-height: 600px;
  min-width: 600px;
  padding-left: 60px;
}
.container-fluid{
  min-height: 700px;
}
.avatar-user{
  max-height: 500px;
  max-width: 500px;
  padding-left: 70px;
  padding-bottom: 30px;
}
.avatar-header{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.order-form{
  padding-top: 90px;
}
.image-size{
  width: 700px;
  height: 400px;
}
.nav-item{
  color: white;
}
.mheight{
  min-height: 700px;
}
.key-fillter{
  background-color: #00C2AD;
  color: white;
}
